{% extends "_layout.html" %}

{% block title %}
followers
{% endblock %}

{% block content %}

<h2> {{user.first_name}}'s Followers: </h2>

{% for profile in followers %}
<ul style="list-style-type:none;">
    <a href="{{url_for('users.show', username=profile.username)}}"> <img src="{{profile.profile_img_url}}"
            style="border-radius: 50%; width: 70px" /> {{profile.username}} </a>
</ul>
{% endfor %}

<a href="{{url_for('users.show', username=user.username)}}"> Back to gallerie </a>

{% endblock %}