{% extends "_layout.html" %}

{% block title %}
following
{% endblock %}

{% block content %}
<h2> {{user.first_name}} is following: </h2>

{% if following %}
<ul style="list-style-type:none;">
    {% for profile in following %}
    <li>
        <a href="{{url_for('users.show', username=profile.username)}}"> <img src="{{profile.profile_img_url}}"
                style="border-radius: 50%; width: 70px" /> {{profile.username}} </a>

        <form action="{{url_for('followers.destroy')}}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token()}}" />
            <input type="hidden" name="artist" value="{{profile.id}}" />
            <input type="hidden" name="follower" value="{{current_user.id}}" />
            <button class="btn btn-outline-secondary" type="submit"> Unfollow </button>
        </form>
    </li>
    {% endfor %}
</ul>

{% else %}
Follow some artists!
{% endif %}

<a href="{{url_for('users.show', username=user.username)}}"> Back to {{user.first_name}}'s gallerie </a>
{% endblock %}