{% extends "_layout.html" %}

{% block title %}
sign up
{% endblock %}

{% block content %}
<div class="form-temp">
    <h3> sign up </h3>

    <form action="{{ url_for('users.create')}}" method="POST" autocomplete="off" class="needs-validation" novalidate>
        <input type="hidden" name="csrf_token" value="{{ csrf_token()}}" />
        <div class="form-group">
            <label for="first_name">First Name: </label>
            <input name="first_name" type="text" placeholder="First Name" class="signup" autocomplete="OFF" required />

            <label for="last_name">Last Name: </label>
            <input name="last_name" type="text" placeholder="Last Name" class="signup" autocomplete="OFF" required />

            <label for="email">Email: </label>
            <input name="email" type="text" placeholder="Email" class="signup" autocomplete="OFF" required />

            <label for="username">Username: </label>
            <input name="username" type="text" placeholder="Username" class="signup" id="email" autocomplete="OFF"
                required />
            {% if errors|length > 0 %}
            <div class="validation_error"> {{errors["Username"]}}</div>
            {% endif %}

            <label for="password">Password: </label>
            <input name="password" type="password" placeholder="Password" class="signup" required />

            <label for="retype_password">Re-enter Password: </label>
            <input name="retype_password" type="password" placeholder="Retype Password" class="signup" required />

        </div>
        <input type="submit" value="Sign Up" class="btn-temp">

    </form>
</div>

{% endblock %}