{% extends "_layout.html" %}

{% block title %}
sign up
{% endblock %}

{% block content %}
<div>
    <h1> sign up </h1>

    <form action="{{ url_for('users.create') }}" method="POST" autocomplate="off" class="needs-validation" novalidate>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div>
            <label for="first_name" class="form-label">First Name:</label>
            <input required type="text" name="first_name" placeholder="John" autocomplate="off" class="form-control"
                value="{{first_name}}">
        </div>
        <div>
            <label for="last_name" class="form-label">Last Name:</label>
            <input required type="text" name="last_name" placeholder="Smith" class="form-control" autocomplate="off"
                value="{{last_name}}"">
        </div>
        <div>
            <label for=" username" class="form-label">Username:</label>
            <input required type="text" name="username" placeholder="jsmith" class="form-control" autocomplate="off"
                value="{{username}}">
        </div>

        <div>
            <label for="email" class="form-label">Email:</label>
            <input required type="email" name="email" placeholder="johnsmith@email.com" class="form-control"
                autocomplate="off" value="{{email}}">
        </div>

        <div>
            <label for="password" class="form-label">Password:</label>
            <input required type="password" name="password" class="form-control">
        </div>

        <div>
            <label for="retype_password" class="form-label">Retype Password:</label>
            <input required type="password" name="retype_password" class="form-control">
        </div>
        <br>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>
    </form>
    <br>

    <div class="col-12">
        <a href="{{ url_for('users.new_google_account')}}">
            <button type="submit" class="btn btn-primary">Sign Up with Google </button>
        </a>
    </div>

    <div>
        Already have an account? Login <a href="{{url_for('login.new')}}">here</a>.
    </div>
</div>

{% endblock %}