{% extends "_layout.html" %}

{% block title %}
edit profile
{% endblock %}

{% block content %}
<h2> {{user.first_name}}'s gallerie </h2>

<img src="{{ user.profile_img_url }}" width="80px" id="profile-img" style="border-radius: 50%">
<br><br>

<div>
    {% for i in feed %}
    <ol style="list-style-type:none;">
        <div>
            <li> <img src="{{ i.image_url }}" width="100px" /> </li>
            {% if i.img_description != None%}
            <li>
                {{ i.img_description }}
            </li>
            {% endif %}
            Published on: {{ i.created_at.date() }}
        </div>
        {% if user.username == current_user.username %}
        <div>
            <form action="{{url_for('feed.delete', id=i.id)}}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token()}}" />
                <input type="submit" value="delete" />
            </form>
        </div>
        {% endif %}
    </ol>
    {% endfor %}

</div>


{% endblock %}