{% extends "_layout.html" %}

{% block title %}
{{user.username}}
{% endblock %}

{% block content %}
<h2> {{user.first_name}}'s gallerie </h2>

<img src="{{ user.profile_img_url }}" width="80px" id="profile-img" style="border-radius: 50%">
<br><br>
<a href="{{ url_for('users.show_following', username=user.username)}}" style="text-decoration: none; color: black">
    Following: {{ following_count }} </a>
<br>
<a href="{{url_for('users.show_followers', username=user.username)}}" style="text-decoration: none; color: black">
    Followers: {{ follower_count }} </a>

<div>
    {% if user.username != current_user.username%}
    {% if not following_status.approved %}

    <form action="{{url_for('followers.create')}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token()}}" />
        <input type="hidden" name="artist" value="{{user.id}}" />
        <input type="hidden" name="follower" value="{{current_user.id}}" />
        <button class="btn btn-secondary" type="submit"> Follow </button>
    </form>
    {% else %}
    <form action="{{url_for('followers.destroy')}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token()}}" />
        <input type="hidden" name="artist" value="{{user.id}}" />
        <input type="hidden" name="follower" value="{{current_user.id}}" />
        <button class="btn btn-secondary" type="submit"> Unfollow </button>
    </form>
    <br>
    {% endif %}

    {%endif%}

    {% if user.username == current_user.username or user.public_profile %}

    {% for i in feed %}
    <ol style="list-style-type:none;">

        <li> <a href="{{url_for('users.view', username=user.username, id=i.id)}}"> <img src="{{ i.image_url }}"
                    width="100px" /> </a>
        </li>

        {% if i.img_description != None%}
        <li>{{ i.img_description }}</li>
        {% endif %}

        Published on: {{ i.created_at.date() }}

        <br>

        {% if user.username == current_user.username %}

        <div>
            <form action="{{url_for('feed.delete', id=i.id)}}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token()}}" />
                <input type="submit" value="delete" />
            </form>
        </div>

        {% endif %}
    </ol>
    {% endfor %}


    {% else %}
    <div>
        {{ user.username }}'s gallerie is private! Send a follow request to see {{ user.first_name }}'s gallerie.
    </div>
    {% endif %}

</div>

{% endblock %}