{% extends "_layout.html" %}

{% block title %}

{{user.username}}

{% endblock %}
{% block content %}

{{user.first_name}}'s Post:

<main>
    <div>
        <img src="{{image.image_url}}" width="500px" />
    </div>
    {% if image.img_description%}
    {{image.img_description}}
    {% endif %}

    {% if user.username != current_user.username %}
    <div>
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#donate"> Donate
        </button>

        <div class="modal fade" id="donate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Make a donation</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('payment.create', id=image.id)}}" method="POST" id="donationform">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token()}}" />
                            <input type="hidden" name="nonce" id="nonce-input" />
                            <label for="amount"> Contribution amount:</label>
                            <input type="number" step=".01" min="0" placeholder="$" name="amount" required />
                            <div id="payment-container"> </div>
                            <button type="submit" class="btn btn-primary" id="pay-btn"> Make Donation </button>
                        </form>

                        <script type="text/javascript">
                            const braintreeButton = document.getElementById("pay-btn")

                            braintree.dropin.create({
                                container: document.getElementById("payment-container"),
                                authorization: "{{token}}"
                            }, (error, paymentForm) => {
                                braintreeButton.onClick = () => {
                                    event.preventDefault()
                                    paymentForm.requestPaymentMethod((error, payload) => {
                                        document.getElementById("nonce-input").value = payload.nonce
                                        contributionform.submit()
                                    })
                                }
                            }
                            )
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endif %}
</main>

{% endblock %}