{% extends "_layout.html" %}

{% block title %}
Homepage
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<h2> Explore </h2>

<main>
    <div>
        {% for post in feed %}
        <div>
            <a href="{{url_for('users.show', username=post.user.username)}}"
                style="text-decoration: none; color: black">
                <b> {{post.user.username}} </b>
                <img src={{post.user.profile_img_url}} width="50px" style="border-radius: 50%;" />
            </a>
            <a href="{{url_for('users.view', id=post.id, username=post.user.username)}}">
                <img src="{{post.image_url}}" width="300px" />
            </a>
            {% if post.img_description %}
            <p> {{post.img_description}}</p>
            {% endif %}
            <p> {{post.created_at.date()}}</p>
        </div>
        {% endfor %}
    </div>
</main>

{% endblock %}